.mediaViewInfo {
	--web-view-name: DASHBOARD – 1;
	--web-view-id: DASHBOARD__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: DASHBOARD__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#DASHBOARD__1 {
	position: absolute;
	width: 1920px;
	height: 1082px;
	background-color: rgba(228,172,172,1);
	overflow: hidden;
	--web-view-name: DASHBOARD – 1;
	--web-view-id: DASHBOARD__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#photo-1586075010923-2dd4570fb3 {
	mix-blend-mode: lighten;
	position: absolute;
	width: 1943px;
	height: 1448px;
	left: -11px;
	top: -156px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(225,48,108,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	filter: drop-shadow(0px 3px 19px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 1982px;
	height: 178.5px;
	left: -2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#mewow {
	left: 33px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 271px;
	white-space: nowrap;
	text-align: left;
	font-family: Axiforma;
	font-style: normal;
	font-weight: lighter;
	font-size: 70px;
	color: rgba(246,237,237,1);
}
#Component_11__23 {
	position: absolute;
	width: 170.5px;
	height: 55.5px;
	left: 1420.5px;
	top: 48px;
	overflow: visible;
}
#About_Us {
	left: 6.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Axiforma;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(246,237,237,1);
}
#Line_2 {
	opacity: 0;
	fill: transparent;
	stroke: rgba(196,112,182,1);
	stroke-width: 12px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 143px;
	height: 12px;
	left: 0px;
	top: 55.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_12__12 {
	position: absolute;
	width: 380.5px;
	height: 55.5px;
	left: 1648px;
	top: 48px;
	overflow: visible;
}
#Component_15__1 {
	position: absolute;
	width: 153px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Contact {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: Axiforma;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(246,237,237,1);
}
#Line_3 {
	opacity: 0;
	fill: transparent;
	stroke: rgba(196,112,182,1);
	stroke-width: 12px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 204px;
	height: 12px;
	left: 176.5px;
	top: 55.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Component_11__24 {
	position: absolute;
	width: 155.5px;
	height: 56.5px;
	left: 1202.5px;
	top: 47px;
	overflow: visible;
}
#Scratch {
	left: 0.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 156px;
	white-space: nowrap;
	text-align: left;
	font-family: Axiforma;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(246,237,237,1);
}
#Line_2_ {
	opacity: 0;
	fill: transparent;
	stroke: rgba(196,112,182,1);
	stroke-width: 12px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_ {
	overflow: visible;
	position: absolute;
	width: 143px;
	height: 12px;
	left: 0px;
	top: 56.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Upper_Content {
	position: absolute;
	width: 3620px;
	height: 947px;
	left: -288px;
	top: 26px;
	overflow: visible;
}
#Component_53__1 {
	position: absolute;
	width: 159px;
	height: 18px;
	left: 1636px;
	top: 1010px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: DASHBOARD.html;
	cursor: pointer;
}
#Icon_awesome-arrow-left {
	fill: rgba(0,0,0,1);
}
.Icon_awesome-arrow-left {
	overflow: visible;
	position: absolute;
	width: 16.897px;
	height: 17px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Back_to_home {
	left: 25px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Axiforma;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(42,47,51,1);
	letter-spacing: 0.4px;
}
a{
	color: white;
	text-decoration: none;

}
a:hover{
	color: maroon;
}